@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.shake-animation {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

div {
  position: relative;
}

.icon {
  position: absolute;
  right: 0%;
  top: 55%;
  padding-right: 20px;
}

input::placeholder {
  text-transform: capitalize;
}

.invalid {
  border: 1px solid red !important;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.invalid input[type='checkBox'] {
  border-color: red !important;
  accent-color: red;
}

.password-input {
  @apply flex border-primary-light rounded pr-3;
}

.password-input input {
  @apply border-none outline-none;
}

select {
  text-transform: capitalize !important;
}
